# Dependencies
node_modules/
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Testing
/coverage
*.lcov

# Production
/build
/dist
*.local

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-workspace
*.sublime-project

# TypeScript
*.tsbuildinfo

# Vite
.vite/

# React / Frontend specific
/rms-frontend/dist/
/rms-frontend/.vite
/rms-frontend/coverage/

# Backend specific
/resource-management-backend/dist/
/resource-management-backend/coverage/
/resource-management-backend/logs/

# Database
*.sqlite
*.sqlite3
*.db

# Temporary files
*.tmp
*.temp
.cache/
